<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body style="margin: 20px; background-color: rgb(192, 192, 192);">
    <div id="page_header">
        <a href="/dashboard">Homepage</a>
        <h1>A Member of the Family</h1>
        <h4>{{ user.username }}</h4>
        <a href="/logout">logout</a>
    </div>

    <div id="pet_info">
        <form action="/new/pet/create" method="POST">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        
        <br><br>
        <h6>Pet Information</h6>
        <div id="pet_info_left">
            <label for="pet_name">*Pet's Name: </label>
            <input type="text" name="pet_name">
            <br><br>
            <label for="species">Pet's Species: </label>
            <input type="text" name="species">
            <br><br>
            <label for="breed">Pet's Breed: </label>
            <input type="text" name="breed">
            <br><br>
            <label for="age">Pet's Age: </label>
            <input type="number" name="age" min="0" max=">30">
            <br><br>
            <label for="fixed">Is the Pet Spayed/Neutered?:</label><br>
            <input type="radio" id="fixed" name="fixed" value="1">
            <label for="yes">Yes</label>
            <input type="radio" id="fixed" name="fixed" value="0" checked>
            <label for="no">No</label>
            <br><br>
            <label for="vet">*Vet: </label>
            <input type="text" name="vet">
            <br><br>
            <label for="own_name">*Owner's Name/Contact:</label><br>
            <input type="text" name="own_name"><br><br>
            <label for="own_call">*#: </label>
            <input type="text" name="own_call">
            <label for="own_email">@: </label>
            <input type="email" name="own_email">
        </div><br><br>
        <div id="pet_info_right">
            <div id="pet_vacs">
                <h6>Pet Vaccines</h6>
                <table id="pet_vacs_table">
                    <tr>
                        <th>Vaccine</th>
                        <th>Date Administered</th>
                        <th>Duration</th>
                    </tr>
                    <tr>
                        <td>Rabies</td>
                        <td><input type="date" name="vacs_rabies_date" id="vacs_rabies_date"></td>
                        <td>
                            <input type="radio" id="vacs_rabies_duration" name="vacs_rabies_duration" value="1">
                            <label for="one_year">1yr</label>
                            <input type="radio" id="vacs_rabies_duration" name="vacs_rabies_duration" value="3">
                            <label for="three_year">3yr</label>
                            <input type="radio" id="vacs_rabies_duration" name="vacs_rabies_duration" value="0" checked>
                            <label for="n/a">N/A</label>
                        </td>
                    </tr>
                    <tr>
                        <td>Bordetella</td>
                        <td><input type="date" name="vacs_bord_date" id="vacs_bord_date"></td>
                        <td>
                            <input type="radio" id="vacs_bord_duration" name="vacs_bord_duration" value="1">
                            <label for="one_year">1yr</label>
                            <input type="radio" id="vacs_bord_duration" name="vacs_bord_duration" value="3">
                            <label for="three_year">3yr</label>
                            <input type="radio" id="vacs_bord_duration" name="vacs_bord_duration" value="0" checked>
                            <label for="n/a">N/A</label>
                        </td>
                    </tr>
                    <tr>
                        <td>Distemper+</td>
                        <td><input type="date" name="vacs_dis_date" id="vacs_dis_date"></td>
                        <td>
                            <input type="radio" id="vacs_dis_duration" name="vacs_dis_duration" value="1">
                            <label for="one_year">1yr</label>
                            <input type="radio" id="vacs_dis_duration" name="vacs_dis_duration" value="3">
                            <label for="three_year">3yr</label>
                            <input type="radio" id="vacs_dis_duration" name="vacs_dis_duration" value="0" checked>
                            <label for="n/a">N/A</label>
                        </td>
                    </tr>
                    <tr>
                        <td>FVRC+</td>
                        <td><input type="date" name="vacs_fvrc_date" id="vacs_fvrc_date"></td>
                        <td>
                            <input type="radio" id="vacs_fvrc_duration" name="vacs_fvrc_duration" value="1">
                            <label for="one_year">1yr</label>
                            <input type="radio" id="vacs_fvrc_duration" name="vacs_fvrc_duration" value="3">
                            <label for="three_year">3yr</label>
                            <input type="radio" id="vacs_fvrc_duration" name="vacs_fvrc_duration" value="0" checked>
                            <label for="n/a">N/A</label>
                        </td>
                    </tr>
                </table>
                <p>**If pet is under six(6) months, select today's date for administer date and 'N/A' for duration. Make a note of this in the 'Notes' section below.</p>
            </div><br><br>
            <div id="notes">
                <h3>Notes</h3>
                <textarea name="notes" id="notes" cols="52" rows="8"></textarea>
            </div><br><br>
            <button type="submit">Save</button>
        </div>
        </form>
    </div>
</body>
</html>